* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@mobile: ~"(max-width: 480px)";

// IMPORTS
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

// COLORS
@seaGreen: #1DD83C;
@seaBlue: #00163F;
@seaGray: #A5A7AF;
@black: #222222;
@light-gray: #CCCCCC;

// FONTS
@block: 'Oswald', Helvetica, sans-serif;
@sans-serif: Helvetica, Arial, sans-serif;
@serif: Georgia, Times, serif;

body {
  font-family: @sans-serif;
  min-width: 1024px;
  padding: 0 1em 1em;
  color: @seaGray;
  opacity: 0.9;
  background-color: @seaBlue;
}

a {
  color: @seaGray;
}


.pencil-ad {
  height: 90px;
  width: 768px;
  margin: 1em auto 0 auto;

  @media @mobile {
    display: none;
  }

  .ad-label {
    width: 7px;
    height: 70px;
    float: left;
  }
}

.top-bar {
  position: relative;

  .logo {
    width: 100%;
    position: relative;
    top: 30px;
    text-align: center;
    display: block;

    img {
      box-sizing: content-box;
      height: 30px;
      background: @seaBlue;
      border: none;
      border-image-source: initial;
      border-image-slice: initial;
      border-image-width: initial;
      border-image-outset: initial;
      border-image-repeat: initial;
    }
  }
}

.header {
  text-align: center;
  margin: 0 auto 2em;
  max-width: 768px;
  
  h1 {
    font-size: 3em;
    font-family: @block;
    text-transform: uppercase;
    color: white;
    margin: 1em 0 0 0;
  }

  p {
    font-size: 1.2em;
    line-height: 1.4em;
    margin-top: 0;
  }

  .map-ref {
    text-decoration: none;
    background-color: fade(@seaGray, 20%);
    padding: 2px 5px;
    border-radius: 4px;
  }

  .map-ref:hover {
    background-color: fade(@seaGray, 30%);
    color: lighten(@seaGray, 10%);
  }
}

.seahawks-table {
  width: 100%;
  max-width: 100%;
  margin: 0 auto 1em auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid fade(@seaGray, 50%);
  border-top: 0;
  width: ~"calc(100%/8)";
  padding: 10px;
  vertical-align: top;
}

th:first-child, td:first-child {
  border-left: 0; //  removes border on table's left edge
}

th:last-child, td:last-child {
  border-right: 0; // removes border on table's right edge
}

th {
  font-family: @block;
  text-transform: uppercase;
  color: @seaGreen;
  font-size: 0.9em;
  text-align: left;
  border-bottom: 3px solid @seaGray;
  padding: 5px 10px;
}

td {

  p {
    margin: 0 0 4px 0;
  }
}

tr:last-child td {
  border-bottom: 0; //  removes border at bottom of table
}

.green-accent {
  color: @seaGreen;
}

.date {
  font-weight: bold;

  .location {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
  }

}

.guess {
  font-weight: bold;
}

.name {
  font-family: @sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}

.comment {
  font-family: @serif;
}

td.winner {
  background-color: fade(@seaGreen, 50%);
}