* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@mobile: ~"(max-width: 480px)";

// IMPORTS
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

// COLORS
@seaGreen: #1DD83C;
@seaBlue: #00163F;
@seaGray: lighten(rgb(165, 167, 175), 10%);
@black: #222222;
@light-gray: #CCCCCC;

// FONTS
@block: 'Oswald', Helvetica, sans-serif;
@sans-serif: Helvetica, Arial, sans-serif;
@serif: Georgia, Times, serif;

body {
  font-family: @sans-serif;
  min-width: 1024px;
  padding: 0 1em 1em;
  color: @seaGray;
  opacity: 0.9;
  background-color: @seaBlue;
}

a {
  color: @seaGray;
}


#adtopright {
  height: 90px;
  width: 775px;
  margin: 1em auto 0 auto;

  @media @mobile {
    display: none;
  }

  img {
    float: left;
  }
  
}

.top-bar {
  position: relative;
  border-bottom: 1px solid fade(@light-gray, 50%);

  .logo {
    width: 100%;
    position: relative;
    top: 30px;
    text-align: center;
    display: block;

    img {
      box-sizing: content-box;
      height: 30px;
      background: @seaBlue;
      padding: 10px;
      border: none;
      border-image-source: initial;
      border-image-slice: initial;
      border-image-width: initial;
      border-image-outset: initial;
      border-image-repeat: initial;
    }
  }
}

.header {
  position: relative;
  text-align: center;
  margin: 0 auto 2em;
  max-width: 960px;

  .share {
    position: absolute;
    border-radius: 4px;
    padding: 2px;
    top: 16px;
    right: 8px;
    z-index: 999;
  }

  a.share.sharer-0 {
    width: 96px;
    height: 24px;

    label {
      background-color: fade(@seaGray, 20%);
      color: @seaGray;
    }

    label:hover {
      opacity: 1;
      background-color: fade(@seaGray, 30%);
    }
  }
  
  h1 {
    font-size: 3em;
    font-family: @block;
    text-transform: uppercase;
    color: white;
    margin: 1em 0 0 0;
  }

  p {
    font-size: 1.2em;
    line-height: 1.4em;
    margin-top: 0;
  }

  .fancy-ref {
    text-decoration: none;
    background-color: fade(@seaGray, 20%);
    padding: 3px 6px;
    border-radius: 4px;
    white-space: nowrap;
  }

  .fancy-ref:hover {
    background-color: fade(@seaGray, 30%);
  }
}

.seahawks-table {
  width: 100%;
  max-width: 100%;
  margin: 0 auto 1em auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid fade(@seaGray, 50%);
  border-top: 0;
  width: ~"calc(100%/8)";
  padding: 10px;
  vertical-align: top;
}

th:first-child {
  border-left: 0;
  //color: white;
}

th:nth-child(2) {
  //color: white;
}


td:first-child {
  border-left: 0;
}

th:last-child, td:last-child {
  border-right: 0; // removes border on table's right edge
}

th {
  font-family: @block;
  text-transform: uppercase;
  color: @seaGreen;
  text-align: left;
  border-bottom: 3px solid @seaGray;
  padding: 5px 10px;
}

td {

  p {
    margin: 0 0 4px 0;
  }
}

tr:last-child td {
  border-bottom: 0; //  removes border at bottom of table
}

.green-accent {
  color: @seaGreen;
}

.date {
  font-weight: bold;
  font-size: 1.1em;
  color: lighten(@seaGray, 10%);

  .location {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 12px;
    color: darken(@seaGray, 10%);
  }

}

.score {
  font-size: 1.1em;
  font-weight: bold;
  color: lighten(@seaGray, 10%);
}

.guess {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 8px;
}

.comment {
  font-family: @serif;
}

.comment-divider {
  width: 50px;
  border-style: inherit;
  margin: 1em auto;
}

@mug: 50px;
@centered: ~"calc(50% - 25px)";

.little-mug {
  width: @mug;
  height: @mug;
  border-radius: 100%;
  margin: 0.5em @centered;
  //background-color: @seaGray; // for testing
}

.name {
  font-size: 0.9em;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;

  .fan-location {
  }

}

.description {
  font-size: 0.85em;
  text-align: center;
}

td.winner {
  background-color: fade(@seaGreen, 50%);
  color: lighten(@seaGray, 10%);
}