* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@mobile: ~"(max-width: 480px)";

// IMPORTS
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

// COLORS
@seaGreen: #1DD83C;
@seaBlue: #00163F;
@seaGray: #A5A7AF;
@black: #222222;
@light-gray: #CCCCCC;

// FONTS
@block: 'Oswald', Helvetica, sans-serif;
@sans-serif: Helvetica, Arial, sans-serif;
@serif: Georgia, Times, serif;

body {
  font-family: @sans-serif;
}

.header {
  text-align: center;
}

.seahawks-table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid @light-gray;
  border-top: 0;
  width: ~"calc(100%/8)";
  padding: 10px;
  vertical-align: top;
}

th:first-child, td:first-child {
  border-left: 0; //  removes border on table's left edge
}

th:last-child, td:last-child {
  border-right: 0; // removes border on table's right edge
}

th {
  font-family: @block;
  text-transform: uppercase;
  font-size: 0.9em;
  text-align: left;
  border-bottom: 2px solid black;
  padding: 5px 10px;
}

td {

  p {
    margin: 0 0 4px 0;
  }
}

tr:last-child td {
  border-bottom: 0; //  removes border at bottom of table
}

.guess {
  font-weight: bold;
}

.name {
  font-family: @sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}

.comment {
  font-family: @serif;
}

td.winner {
  background-color: fadeout(@seaGreen, 67%);
}